@import url("https://fonts.googleapis.com/css2?family=DM+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -mox-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  font-family: "DM Mono", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "DM Mono", source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.thought-container {
  border: 1px solid #000;
  box-shadow: 5px 5px #000;
  width: 50%;
  margin: 30px auto;
  padding: 20px 25px 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.thought {
  font-weight: 600;
  word-break: break-word;
}

.liked-container {
  margin-top: 15px;
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.liked-button {
  padding: 0 4px;
  background-color: #ffadad;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.liked {
  margin: 6px 0 0 6px;
}

.heart {
  font-size: 18px;
  margin-left: 2px;
  padding: 4px;
}

.thought-time {
  margin: 12px;
  color: #898888;
  font-size: 12px;
  font-weight: 700;
  text-align: right;
  align-self: flex-end;
}

.grey-background {
  background-color: #ededed;
}

.add-thought-input-header {
  width: 100%;
  font-weight: 700;
}

.add-thought-input {
  width: 100%;
  padding: 10px;
  margin: 10px auto 5px;
  resize: none;
  word-break: break-word;
}

.add-thought-button {
  border: none;
  border-radius: 25px;
  font-family: "DM Mono", monospace;
  font-size: 16px;
  background: #ffadad;
  padding: 8px 15px;
  margin: 0 0 15px 0;
}

.add-thought-button:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255, 173, 173, 0.6);
}

.add-thought-button:active {
  background: rgba(255, 173, 173, 0.8);
}